/**
	note skin css
*/

.mypage .mypagemain li {display: block;margin: 0px; clear: both; margin-bottom: 15px;}
.mypage .mypagemain li>span {float: left;width: 25%;text-align: right;padding-right: 20px;margin-top: 5px;color: #000;font-weight: bold;}
.mypage .mypagemain li {min-height:25px;}

.mypage .scrapbtn {font-size:10px;}

.mypage .askpassword li {display: block;margin: 0px; clear: both; margin-bottom: 15px;}
.mypage .askpassword li>span {float: left;width: 25%;text-align: right;padding-right: 20px;margin-top: 5px;color: #000;font-weight: bold;}

.mypage .member_modify li {display: block;margin: 0px; clear: both; margin-bottom: 15px;}
.mypage .member_modify li>span {float: left;width: 25%;text-align: right;padding-right: 20px;margin-top: 5px;color: #000;font-weight: bold;}
.mypage .member_modify textarea {width:500px; }

.mypage .table-top {overflow: hidden;padding-bottom: 10px;}
.mypage .table-top input{margin-bottom: 0;margin-top: 0;}
.mypage .table-top li{float: left;text-align: center;padding-right: 5px;}

.mypage .nav {margin-bottom:20px;}

.note_menu li {width:32%;}
.note_menu a {font-size:14px;padding:5px 0px;width:100%;}
.note-view small{float:right;}
.note-contents{padding:20px;}
.note-view-title{border-bottom: 1px solid #ccc;padding-bottom: 5px;padding-left: 10px;padding-right: 10px;background: #D0E3F1;height: 30px;line-height: 30px;}
form li>span {float: left;width: 25%;text-align: right;padding-right: 20px;margin-top: 5px;color: #000;font-weight: bold;}
form .input {margin-bottom:15px; width:90%;}
textarea.input {width:90%;height:200px;}