 .recommand{text-align:center;margin-bottom:20px;}
 .recommand img{padding-top: 7px;}
 .recommand a:hover{background:#348fe2; color:#fff; text-decoration:none;}
 .recommand .good{background:#e9e9e9; width:50px; height:50px; display:inline-block; border-radius:50px; padding:8px; margin:0 10px;}
 .recommand .bad{background:#e9e9e9; width:50px; height:50px; display:inline-block; border-radius:50px;padding:6px; margin:0 10px;}