@charset "utf-8";

/* global */
	body,html{
		width:100%;
		margin:0 auto;
		max-width: 420px;
		min-width: 320px;
		font-family: 'Nanum Gothic', sans-serif;
		font-size:13px;
	}
/* 푸터 아래 고정하기 2019.05 추가*/
	body{
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		position:relative;
	}
	body>.main_flex,
	body>.swiper-container-main{
		/* flex: 1; */
		flex-shrink: 1;
		flex-grow: 1;
		flex-basis: auto;
		width: 100%;
		box-sizing: border-box;
	}
/*미디어 쿼리*/
	@media screen and (min-width:420px) {
		body{
			border-left:1px solid #ededed;
			border-right:1px solid #ededed;
		}
	}

	@media screen and (max-width:420px) {
		body{
			border:0;
		}
	}

	a{
		text-decoration: none;
		color:#000;
	}

	@media screen and (max-width:320px){
		footer ul li a{
			font-size: 10px;

		}
	}

/*section 의 공통 사항*/
	section{
		padding:0 3%;
		display: inline-block;
		width:100%;
		box-sizing:border-box;
		margin-bottom:4%;
	}
/*header 의 로고,회원가입,로그인 영역 2019.05수정*/
	.header{
		width:100%;
		max-width: 420px;
		min-width: 320px;
		/* position: fixed; */
		position: relative;
		background-color: #25a4f4;
		box-sizing: border-box;
		z-index: 90;
	}
	.header .h_logo {
		display: block;
		width: -webkit-fit-content;
		width: fit-content;
		height: 44px;
		box-sizing: border-box;
		text-align: center;
		font-size: 0;
		margin: 0 auto;
	}
	.header .h_logo a {
		display: inline-block;
		height: 100%;
		width: auto;
		position: relative;
		z-index: 5;
	}
	.header .h_logo a img{
		height: 100%;
		vertical-align : bottom
	}
	.header .h_btn_box{
		box-sizing: border-box;
		letter-spacing: 1px;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 12px 3% 0;
	}
	.header .h_btn_box li{
		width: 25px;
		height: 25px;
	}
	.header .h_btn_box a{
		display: inline-block;
		width:100%;
		text-align:right;
		font-family: 'Jeju Gothic', sans-serif;
		color:#fff;
	}
	.header .h_btn_box button{
		background: none;
		padding: 0;
		margin: 0;
		border: none;
	}
	.header .h_btn_box img{
		width: 100%;
		height: 100%;
	}
/* 마이페이지아이콘옆 알림표시 */
	.lab_notification{
		display: block; 
		min-width: 14px;
		width:auto;
		height: 14px;
		padding: 0 3px;
		box-sizing: border-box;
		position: absolute;
		text-align: center;
		line-height: 14px;
		font-size: 11px;
		font-weight: bold;
		color: #fff;
		background-color: #f51414;
		border-radius: 8px;
	}
	header > ul li .lab_notification{
		top: 10px;
		left: 28px;
	}
/*header의 메인 메뉴 영역 (before)*/
	#mainmenu{
		width:100%;
		display:inline-block;
		background-color: #fff;
		position: relative;
		bottom: 0;
	    border-top: 1px solid #aaa;
	}
	#mainmenu ul{
		width:100%;
	}
	#mainmenu li.active{
		background-color : #fbb6b9;
	}
	#mainmenu li.active a{
		color:#fff;
	}
	#mainmenu li{
		float:left; 
		width:25%;
		box-sizing: border-box;
		text-align: center;
		padding:5px 0;
		border-right:1px solid #ddd;
		border-bottom:1px solid #ddd;
	}
	#mainmenu li:nth-child(4n){
		border-right: 0;
	}
	#mainmenu li:nth-child(9),
	#mainmenu li:nth-child(10),
	#mainmenu li:nth-child(11),
	#mainmenu li:nth-child(12){
		border-bottom:0;
	}
	#mainmenu li a{
		font-family: 'Jeju Gothic', sans-serif;		
		padding:3px 0;
		font-size:14px;
	}
/*메인메뉴 클릭시 첫번째 타이틀,공지사항,이벤트 클릭시 메이타이틀, 영역*/
	.title div{
		width:3%;
		height:2px;
		/* background-color: #231b26; */
		margin:0 auto 8%;
	}
	.title h2{
		text-align:center;
		margin-bottom:3%;
		font-size: 20px;
		font-family: 'Jeju Gothic', sans-serif;
		color:#000!important;
		line-height:1.4;
	}
	.title span{
		text-align: center;
		width: 100%;
		display: inline-block;
		margin-bottom: 5%;
		font-size: 12px;
		font-family: 'Jeju Gothic', sans-serif;
	}
/*메인메뉴 클릭시 첫번째 table(가라오케,마사지,호텔)*/
	.title .table01{
		border:1px solid #ededed;
		width:65%;
		margin: 0 auto 5%;
	}
	.title .table01 tr td{
		border:1px solid #ededed;
		font-size: 12px;
		text-align: center;
		font-family: 'Jeju Gothic', sans-serif;
		padding:0 0 1.5%;
		background-size: 20%;
	}
	.title .table01 tr td img{
		width:50%;
		display: block;
		margin:0 auto 10%;
	}
	.title .table01 tr td{
		background-color :#fff;
	}
	.title .table01 tr td.active{
		background-color: #f7edf1;
	}
/*공지사항 이벤트 페이지의 타이틀 영역의 table 영역*/
	.title .table02{
		width: 65%;
		margin: 0 auto;
	}
	.title .table02 tr td{
		border:1px solid #ededed;
		font-size: 13px;
		font-family: 'Jeju Gothic', sans-serif;
		vertical-align: middle;
		padding:7px 0;
		width:50%;
    }
    .title .table02 td figure{
    	display: inline-block;
    	text-align: center;
    	width: 100%;
    }
    .title .table02 td figure img{
    	width: 20%;
    	vertical-align: middle;
    }
    .title .table02 td figcaption{
    	display: inline-block;
    }
/*메인메뉴 클릭시 두번째 타이틀,자유게시판의 작성이,작성자 이름 영역*/
	.title02{
		border-bottom:2px solid #4d4d4d;
		width:94%;
		margin:0 3% 20px;
		padding:0 0 1.5% 0;
		line-height: 1.2;
	}
	.title02 h2{
		font-size:15px;
		display: inline-block;
		font-family: 'Jeju Gothic', sans-serif;
	}
	.title03 p,
	.title02 p{
		font-size:13px;
		display: inline-block;
		font-family: 'Jeju Gothic', sans-serif;
		float:right;
		margin-top:1%;
	}
	.title02 p span{
		font-size:13px;
		color: #25a4f4;
	}
/*상세의 타이틀 / 자유게시판 상세 타이틀*/
	.de_title{
		padding:0;
		margin:0;
	}
	.de_title h2{
		font-size: 16px;
		font-family:'Jeju Gothic', sans-serif;  
		line-height:1.4;
		position:relative;
		word-break:keep-all;
	}
	.de_title h2 a{
		display:block;
		position:absolute;
		top:50%;
		right:4%;
		margin-top:-10px;
	}
	.de_title h2 span{
		display: block;
		font-size: 12px;
		margin-top: 3%;
	}
	.de_title table{
		border: 1px solid #ededed;
		
		margin:0 auto 20px;
	}
	.de_title td{
		background-color: #fff;
		border:1px solid #ededed;
		font-size: 12px;
		text-align: center;
		font-family: 'Jeju Gothic', sans-serif;
		padding:1.5% 0;
	}
	.de_title td.active{
		background:#ecf4f9; 
	}
	.de_title td img{
		width: 50%;
		display:block;
		margin:3% auto 9%;
	}
/* de_title02 자유게시판 게시물 타이틀 */
	.de_title02{
		padding:0;
		margin:0;
	}
	.de_title02 h2{
		text-align:center;
		padding:30px 3% 35px;
		/* margin-bottom:20px; */
		/* border-bottom:1px solid #ebebeb; */
		font-size: 20px;
		font-family:'Jeju Gothic', sans-serif;  
		/* line-height:1.4; */
		position:relative;
	}
	
/*footer02 (공지사항,이벤트) 영역*/
	.footer_02{
		margin-bottom:0;
		position: relative;
		background-color: #f2f2f2;
		color:#000;
		padding-top:3%;
	}
	.footer_02 .btn_box{
		text-align: center;
		font-size: 0;
		font-family: 'Jeju Gothic',sans-serif;
	}
	.footer_02 .f_btn{
		display: inline-block;
		padding: 1px 8px 0;
		margin: 0 3px;
		border: 1px solid #ddd;
		background-color: #f6f6f6;
		border-radius: 3px;
	}
	.footer_02 .f_btn a{
		display: inline-block;
		padding-top: 1px;
		font-size: 13px;
		line-height: 24px;
		color: #414141;
	}
	.footer_02 .f_btn .fa {
		color: #747474;
	}
	.footer_02 > nav > ul{
		border: 1px solid #666;
		display: inline-block;
		width:100%;
	}
	.footer_02 > nav > ul > li{
		width: 100%;
		height: 35px;
		border-bottom: 1px solid #666;
		box-sizing: border-box;
		padding:12px 3% 12px;
		font-family: 'Jeju Gothic', sans-serif;
	}
	.footer_02 > nav > ul > li:first-child > span{
		float: right;
		font-size: 15px;
		transform: rotate(0deg);
		position: relative;
		top: -1px;
		margin-right:3px;
	}
	.footer_02 > nav > ul > li:nth-child(2){
		display: none;
		height: 150px;
	}
	.footer_02 > nav > ul > li:nth-child(3){
		width: 100%;
		/* border-right: 1px solid #666; */
		box-sizing: border-box;
		float: left;
	}
	.footer_02 > nav > ul > li:nth-child(3)  >  figure > figcaption{
		float: left;
	}
	.footer_02 > nav > ul > li:nth-child(3)  > figure > img{
		width: 4.5%;
		float: right;
		position: relative;
		top:-2px;
	}
	.footer_02 > nav > ul > li:nth-child(3),
	.footer_02 > nav > ul > li:last-child{
		border-bottom:0;
	}
	.footer_02 > nav > ul > li:last-child{
		display:none;
		width: 10%;
		float: right;
		text-align:center;
		font-size: 10px;
		padding:8px 0;
		box-sizing: border-box;
	}
	.footer_02 > nav > ul > li:nth-child(2) > ul > li{
		padding: 1.5%;
		box-sizing: border-box;
		font-size: 12px;
		line-height: 16px;
	}
	.footer_02 a{
		color:#000;
	}
/*footer 영역*/
	footer{
		width: 100%;
		background-color: #f2f2f2;
		padding: 3% 3% 5%;
		box-sizing: border-box;
		color:#333;
		text-align: center;
		line-height: 15px
	}
	footer h2{
		font-size:10px;
		font-weight: normal;
	}
	footer p{
		margin-bottom:3%;
		font-size:10px;
	}
	footer ul {
		width:90%;
		margin: 0 auto 2%;
		display: inline-block;
		font-size: 0;
	}
	footer ul li{
		position:relative;
		display: inline-block;
		width: auto;
		padding: 0 3px;
		font-size: 12px;
	}
	footer ul li:not(:last-child):after{
		content:'';
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		width: 1px;
		height: 10px;
		background-color: #ddd;
	}
	footer ul li a{
		color:#333;
		font-size:12px;
		font-family: 'Jeju Gothic', sans-serif;
		display: inline-block;
		padding: 3px;
	}
	/* hr */
	hr{
		border:none;
		height:1px;
		background-color:#ededed;
		padding: 0 3%;
		width: 100%;
		margin-left: -3%;
	}
