@charset "utf-8";

/* 메인페이지 bigbanner 화살표 애니메이션 */
@keyframes down{
	0%{
		bottom:5.5%;
	}
	100%{
		bottom:4.5%;
	}
}
@keyframes arrow{
	0%{
		opacity:0.3;
	}
	
	40%{
		opacity:0.7;
	}
	80%{
		opacity:1;
	}
		
	100%{
		opacity:0.3;
	}
}
/*wrap padding-top 값*/
	.wrap{
		padding-top:35%;
	}
	.wrap02{
		padding-top:20%;
	}
	.wrap03{
		padding-top:25%;
	}
	.wrap04{
		padding-top: 20%;
	}
	.wrap05{
		padding-top:18%;
	}
	.wrap06{
		padding-top: 13%;
	}
	.wrap07{
		padding-top:15%;
	}
	.wrap08{
		padding-top:128px;
	}
	.wrap09{
		padding-top:44px;
	}
	.wrap10{
		padding-top:140px;
	}
	.wrap11{
		padding-top: 121px;
	}
#jssor_1 > div > div > div > div{
	width: 100% !important;
}
/* .hidden */
.hidden{
	width:1px;
	height:1px;
	position:absolute;
	overflow:hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/* boyoon 추가 css  // 댓글영역  */
	div.media{
		border:1px solid #e8e8e8;
		margin-top: 10px;
	}
	div.media div.media-body {
		font-size:12px;
		padding:8px 3%;
	}

	.reply_write {
		background-color:#f9f9f9;
		padding-top: 20px; 
		padding-bottom : 20px;
		margin-bottom: 20px;
		border-top: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
	}
	
	.reply_write #viewcomment{
		padding:0;
	}
/* mainpage 추가 css */
/* bigbanner 배너 */
	.bigbanner{
		width:100%;
		padding:0;
		margin-bottom: 5%;
		position: relative;
	}
	.bigbanner .bn_li{
		width:100%;
		height: 80vh;
		padding-top:44px;
		box-sizing:border-box;
		position: relative;
	}
	.bigbanner .black_back{
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
	}
	.bigbanner .bn_li01 .black_back{
		background-color:rgba(0,0,0,0.7)
	}
	.bigbanner .bn_li02 .black_back{
		background-color:rgba(0,0,0,0.7)
	}
	.bigbanner .bn_li03 .black_back{
		background-color:rgba(0,0,0,0.5)
	}
	.bigbanner .bn_img{
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center top;
		background-size:cover;
	}
	.bigbanner .bn_text_box{
		width:100%;
		padding: 0 4%;
		box-sizing:border-box;
		position: absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		z-index:50;
		word-break:keep-all;
	}
	.bigbanner .bn_li01 .bn_text_box{
		top:47%;
	}
	.bigbanner .bn_li02 .bn_text_box{
		text-align:right;
	}
	.bigbanner .bn_li03 .bn_text_box{
		top:52%;
	}
	.bigbanner .bn_text_box a{
		color:#fff;
	}
	.bigbanner .bn_text_box .bn_text{
		line-height: 1.6;
		margin-bottom: 1%;
		font-family: 'Nanum Gothic',sans-serif;
	}
	.bigbanner .bn_text_box .big_font{
		font-size: 40px;
		font-weight: bold;
		font-family: 'Times New Roman','Nanum Gothic',sans-serif;
		text-shadow:2px 2px 3px rgba(0,0,0,0.6);
	}
	.bigbanner .bn_text_box .small_font{
		font-size: 16px;
	}
	.bigbanner .bn_text_box .btn{
		display:inline-block;	
		height:auto;
		padding:10px 10px 9px;
		margin-top: 30px;
		font-size:15px;
		border:1px solid #fff;
	}
	.bigbanner .down{
		width:40%;
		font-size: 50px;
		position:absolute;
		bottom:5%;
		left:50%;
		margin-left: -20%;
		text-align:center;
		z-index: 50;
		color:#fff;
		-webkit-animation: down 0.6s ease-in 12.5 alternate;
		-o-animation: down 0.6s ease-in 12.5 alternate;
		animation: down 0.6s ease-in 12.5 alternate;
	}
	.bigbanner .down a{
		display:block;
	}
	.bigbanner .path{
		width:30px;
		height:30px;
		margin: 0 auto;
		border-right:2px solid #fff;
		border-bottom:2px solid #fff;
		border-radius: 0 0 3px 0;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-animation: arrow 2.5s ease-in 3 normal;
		-o-animation: arrow 2.5s ease-in 3 normal;
		animation: arrow 2.5s ease-in 3 normal;
	}
	.bigbanner .path01{
		opacity:0.3;
		-webkit-animation-delay: -1.2s;
		-moz-animation-delay: -1.2s;
		-o-animation-delay: -1.2s;
		animation-delay:-1.2s;
	}
	.bigbanner .path02,
	.bigbanner .path03{	
		margin-top:-18px;
	}
	.bigbanner .path02{
		opacity:0.7;
		-webkit-animation-delay: -0.6s;
		-moz-animation-delay: -0.6s;
		-o-animation-delay: -0.6s;
		animation-delay:-0.6s;
	}
	.bigbanner .path03{
		opacity:1;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
		-o-animation-delay: 0s;
		animation-delay: 0s;
	}
	.bigbanner .down img{
		width:40px;
	}
/* main_category 메인페이지 메뉴 영역 */ 
	.main_category{
		margin-bottom: 5%;
	}
	.main_category .main_cate_li{
		width:100%;
		padding:4% 3% 4% 20%;
		margin-bottom: 0;
		box-sizing:border-box;
		border-bottom:1px solid #ebebeb;
		background-repeat: no-repeat;
		background-position: 0 center;
		background-size: 17%;
		position: relative;
	}
	.main_category .main_cate_li:last-child{
		border-bottom:none;
	}
	.main_category .main_cate_li a:after{
		content:'>';
		display:block;
		height:20px;
		position: absolute;
		right:3%;
		top:50%;
		font-size: 20px;
		margin-top: -10px;
		color:#ccc;
	}
	.main_category .main_cate_li .cate_text{
		font-size: 16px;
		margin-bottom: 8px;
		font-family: 'Jeju Gothic' ,sans-serif;
	}
	.main_category .main_cate_li .cate_count{
		font-size: 12px;
		font-family: 'Nanum Gothic', sans-serif;
	}
	.main_category .main_cate_li .count{
		color:#25a4f4;
		font-weight: bold;
		font-size: 14px;
	}
/* mainpage_cont 메인페이지 업소정보 */
	.mainpage_cont{
		margin-bottom: 0;
		padding:25px 3% 10px;
		background-color: #f9f9f9;
	}
/* cont_category 업소정보 카테고리 */
	.mainpage_cont .cont_category{
		margin-bottom: 3%;
	}
	.cont_category .cont_cate_ul{
		text-align:center;
	}
	.cont_category .cont_cate_li{
		display:inline-block;
		padding:3px 3px 5px;
		margin:0 2.4% 3%;
		font-size:16px;
		font-family: 'Nanum Gothic' ,sans-serif;
		border-bottom: 2px solid transparent;
	}
	.cont_category .active{
		color: #25a4f4;
		border-bottom-color: #25a4f4;
		font-weight:600;
	}
/* .cont_list 메인페이지 업소정보 리스트 */
	.cont_list {
		display:none;
	}
	.cont_list.active {
		display:block;
	}
	.cont_list .cont_list_ul{
		overflow:hidden;
	}
	.cont_list .cont_list_li{
		width:49%;
		margin-bottom: 3%;
		background-color:#fff;
		box-shadow: 1px 1px 3px rgba(6, 69, 109, 0.1);
		position: relative;
		border-radius:3px;
		overflow:hidden;
	}
	.cont_list .cont_list_li:nth-child(2n+1){
		float:left;
	}
	.cont_list .cont_list_li:nth-child(2n){
		float:right;
	}
	.cont_list .cont_list_li img{
		width:100%;
		margin-bottom: 5px;
		height: 30.7vw;
		max-height: 129px;
		min-height: 98px;
	}
	.cont_list .cont_list_li figcaption{
		padding:0 8px 14px;
		height:60px;
	}
	.cont_list .cont_list_li .cont_title{
		font-size: 14px;
		margin-bottom: 6px;
		font-family: 'Jeju Gothic',sans-serif;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2; /* 라인수 */
		-webkit-box-orient: vertical;
		word-wrap:break-word;
		line-height: 1.4;
		max-height: 2.8em;
	}
	.cont_list .cont_list_li .cont_text{
		width:100%;
		font-size: 13px;
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
		font-family: 'Nanum Gothic',sans-serif;
	}
	.cont_list .cont_plus{
		box-shadow:none;
		background-color: transparent;
	}
	.cont_list .cont_plus .cont_title{
		text-align:center;
		font-size: 18px;
		color:#666;
	}	
/* 메인페이지 자유게시판 */
	.text_list {
		display:none;
	}
	.text_list.active {
		display:block;
	}
	.text_list .text_list_li{
		width: 100%;
		padding: 14px 3%;
		margin-bottom: 3%;
		box-sizing: border-box;
		/* border: 1px solid #ededed; */
		box-shadow: 1px 1px 3px rgba(6, 69, 109, 0.1);
		background-color: #fff;
	}
	.text_list .text_title{
		margin-bottom: 8px;
		font-size: 16px;
		font-family: 'Jeju Gothic', sans-serif;
		line-height:1.5;
		/* text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden; */
	}
	.text_list .text_title strong{
		display: inline-block;
		max-width: 90%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		vertical-align: bottom;
		height:1.5em;
	}
	.text_list .text_title .comment_num{
		color:#25a4f4;
		
	}
	.text_list .text_cont{
		font-size:13px;
		line-height:1.4;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.text_list .text_plus{
		text-align:center;
	}
	.text_list .text_plus a{
		display: inline-block;
		width: 60%;
		padding: 5px 0;
		font-size: 16px;
		font-family: 'Jeju Gothic',sans-serif;
		color: #666;
	}
	.text_list .text_plus img{
		width: 30px;
		vertical-align: middle;
		margin-left: 5px;
	}
	.thum_box {
		float: left;
		padding: 0;
		box-sizing: border-box;
		overflow: hidden;
		border: 1px solid #ebebeb;
	}
	.thum_box img {
		min-height: 100%;
		width: 100%;
		object-fit: cover;
	}
	.text_list .thum_box{
		width: 50px;
		height: 50px;
		margin: 0 10px 0 0;
	}
/* 메인페이지 업소정보 카테고리 layout 조정 */
@media screen and (max-width:355px) and (min-width:5px){
	.cont_category .cont_cate_li{		
		padding:3px 2px 5px;
		margin:0 1.5% 3%;		
	}
}
	
/* main 의 이미지 슬라이드 영역 (===) */
	.slide{
		padding:0;
		text-align: center;
		font-size: 10px;
		line-height: 11px;
		color: #4a4a4a;
	}
	div.swiper-slide.per100 img{
		width: 100%
	}
/*main 의 대메뉴 영역 (===) */
	.main_list ul li{
		width:32%;
		margin-right:2%;
		margin-bottom:2%;
		float: left;
	}
	.main_list ul li:nth-child(3n){
		margin-right:0;
	}
	.main_list ul li:nth-child(7),
	.main_list ul li:nth-child(8),
	.main_list ul li:nth-child(9){
		margin-bottom:0;
	}
	.main_list ul li a figure{
		position: relative;
	}
	.main_list ul li a figure img{
		width:100%;
		border:1px solid #ededed;
		box-sizing: border-box;
		border-radius: 5px;
	}
	.main_list ul li a figure figcaption{
		position: absolute;
		left: 9%;
		bottom:10%;
	}
	.main_list ul li a figure figcaption h2{
		color:#fff;
		font-family: 'Jeju Gothic', sans-serif;
		text-shadow: 1px 1px 1px rgba(0,0,0,1);
	}
	.main_list ul li a figure figcaption p{
		font-size: 11px;
		line-height: 15px;
		display: none;
	}
/* main 하단 시트릿 바로가기 bn 영역 (===) */
	.secret_bn{
		padding:0;
		margin:0;
	}
	.secret_bn img{
		width: 100%;
	}
	.secret_bn figure{
		position: relative;
	}
	.secret_bn figure figcaption{
		height: 80px;
		position: absolute;
		top: 0;
		bottom:0;
		margin:auto 0;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		text-align: right;
	}
	.secret_bn figcaption h2{
		font-family: 'Jeju Gothic', sans-serif;
		margin-bottom: 3%;
		font-size: 15px;
	}
	.secret_bn figcaption p{
		font-size: 12px;
		line-height: 16px;
		margin-bottom:2%;
		letter-spacing: 1px;
		text-align: right; 
	}
	.secret_bn figcaption button{
		width: 50%;
		height: 20px;
		border:none;
		outline:none;
		border-radius: 3px;
		color: #fff;
		line-height: 20px;
		box-sizing: border-box;
		font-family: 'Jeju Gothic', sans-serif;
		background-color: #c20e58;
		float: right;
		margin-top: 3%;
	}
/* main 공지사항, 이벤트 영역 */
	.notice{
		padding:0;
		margin-bottom:0;
		position: relative;
		bottom: 2px;
	}
	.notice ul{
		border-top: 1px solid #ededed;
	}
	.notice ul li{
		padding:1.5% 3%;
		font-size: 12px;
	}
	.notice li h3{
		float: left;
		width: 20%;
		height: 20px;
		margin-right: 3%;
		box-sizing: border-box;
		line-height:19px;
		text-align:center;
		/* padding:5px 0 3px; */
		background-color:#25a4f4 ;
		border-radius:3px;
		color:#fff;
		font-family: 'Nanum Gothic', sans-serif;
		font-weight:bold;
		font-size:13px;
	}
	.notice li p{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		height: 19px;
		padding:4px 0 3px;
		box-sizing: border-box;
	}
/*상점 list(2*2) 영역*/
	.store_list ul{
		display: inline-block;
		width: 100%;
		margin-bottom: 3%;
	}
	.store_list ul:last-child{
		margin-bottom: 0;
	}
	.store_list ul li{
		width:49%;
		float: left;
		margin-right:2%;
	}
	.store_list ul li:nth-child(2n){
		margin-right:0;
	}
	.store_list ul li:nth-child(3),
	.store_list ul li:nth-child(4){
		margin-bottom:0;
	}
	.store_list ul li a figure{
		display: inline-block;
		width:100%;
	}
	.store_list figure img{
		width:100%;
		margin-bottom:5%;
		border:1px solid #ededed;
		box-sizing: border-box;
		display:block;
	}
	.store_list figcaption{
		padding:0 3%;
		box-sizing: border-box;
		font-family: 'Jeju Gothic', sans-serif;
	}
	.store_list figcaption h2{
		padding-top:2px;
		margin-bottom: 5%;
		color: #c21e5a;
		line-height: 20px;
	}
	.store_list figcaption p{
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		text-align: left;
		font-size: 12px;
		padding: 1px 0 5px;
		font-family: 'Nanum Gothic', sans-serif;
	}
	.store_list figcaption > span{
		display: block;
		font-size: 11px;
		padding-top:5px;
	}
/*상점 list(1*1) 영역*/
	.store_list02 ul{
		margin-bottom: 3%;
	}
	.store_list02 ul:last-child{
		margin-bottom: 0;
	}
	.store_list02 li{
		width:100%;
		box-sizing: border-box;
		/* border:1px solid #ededed; */
		/*padding:1.5% 1.5% 1.5% 40.5%;*/
		padding-bottom:14px;
		position: relative;
		font-family: 'Jeju Gothic', sans-serif;
		overflow:hidden;
		border-radius:5px;
		box-shadow: 0 1px 4px rgba(0,0,0,0.15);
	}
	.store_list02 li input{
		position: absolute;
		top: 0;
		left: 0;
	}
	.store_list02 .gallery-box img{
		border-bottom: 1px solid #efefef;
	}
	.store_list02 li h2{
		
		margin: 10px 13% 10px 3%;
		/* color: #c21e5a; */
		line-height: 20px;
		font-size: 16px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.store_list02 li p{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 14px;
		padding: 1px 0 10px;
		/* color:#333; */
		font-family:'Nanum Gothic', sans-serif; 
	}
	.store_list02 li > a span{
		display: block;
		font-size: 12px;
		color:#333;
	}
	.store_list02 .gallery-box .text_box{
		box-sizing:border-box;
		padding-left:3%;
	}
	.store_list02 .gallery-box .scrap_heart{
		margin-top:-2%;
	}
	.store_list02 .gallery-box > .pull-right{
		margin-right: 3%;
		font-size: 12px;
		color:#333;
	}
	.scrap_heart{
		color:#ff7c80;
	}
/* 상세페이지 이미지영역 */
	.swiper-container-sub .swiper-button-white{
		width:44px;
		background-size: 45%;
	}
	.swiper-container-sub .swiper-button-next{
		background-position: right center;
	}
	.swiper-container-sub .swiper-button-prev{
		background-position: left center;
	}
/*상세의 위치확인 클릭시(위치 텍스트) 영역*/
	.store{
		padding:0;
		line-height: 1.6;
	}
	.store table{
		width:94%;
		margin:0 auto;
	}
	.store td{
		border:1px solid  #efefef;
		padding:2%;
		box-sizing: border-box;
		font-size: 13px;
		line-height: 1.6;
		font-family: 'Jeju Gothic', sans-serif; 
	}
	.store td.border{
		background-color: #ecf4f9;
	}
/*상세의 위치확인 클릭시(대중교통,지도) 영역*/
	.method table{
		width:100%;
		font-family: 'Jeju Gothic', sans-serif; 
	}
	.method table tr td{
		width:50%;
		border:1px solid #ededed;
		text-align: center;
		box-sizing: border-box;
		vertical-align: middle;
		font-size: 13px;
	}
	.method table tr td.active{
		background-color:#ecf4f9;
	}
	.method table tr td figure{
		width:100%;
		display: inline-block;
	}
	.method table tr td figure img{
		width:18%;
		vertical-align: middle;
	}
	.method table tr td figure figcaption{
		display: inline-block;
	}
	.method a img {
		width:100%;
		border:1px solid #ededed;
	}
/*자유게시판,이벤트 클릭해서 들어갔을때 제목영역*/
	.notice_title > h2,
	.notice_title > div{
		font-size: 18px;
		line-height: 1.4;
		font-family: 'Jeju Gothic', sans-serif;
		word-break: keep-all;
	}
/*자유게시판 클릭해서 들어갔을때 컨텐츠영역*/
	.content {
		margin-bottom: 6%;
	}
	.content .contents-view{
		margin-bottom: 6%;
	}
	.content .contents-view .contents-view-img{
		text-align: center;
	}
	.content .post-content {
		border:1px solid #ededed;
		padding: 5% 3%;
		line-height: 1.6;
		font-size: 15px;
		min-height: 80px;
	}
	.content .post-content div{
		max-width: 100%;
	}
	#post-content .autosize,
	.content .autosize{
		position:relative;
		height: 0;
		padding-bottom: 56.25%;
		overflow: hidden;
		margin:0;
	}
	.content .cont_tab{
		margin-bottom: 0;
		padding:0;
	}
	#post-content .autosize iframe,
	.content .autosize iframe,
	.autosize object,
	.autosize embed{ 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height:100%;
	}

/*공지사항 리스트 영역*/
	.notice_list table{
		width: 100%;
		table-layout: fixed;
	}
	.notice_list table tr:nth-child(2n){
		background-color: #f8fafc;
	}
	.notice_list table td{
		border:1px solid #ededed;
		box-sizing: border-box;
		padding:5%;
	}
	.notice_list table td span{
		font-family: 'Jeju Gothic', sans-serif;
		margin-right: 2%;
	}
	.notice_list table td h2{
		width: 100%;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
		padding-bottom: 3px;
		float: left;
		margin-bottom:1.5%;
		font-size:14px;
	}
	.notice_list table td p{
		font-size: 12px;
		color: #7e7e7e;
		font-family: 'Jeju Gothic', sans-serif;
	}
/*이벤트 리스트 영역*/
	.event_list li{
		width: 49%;
        margin-right: 2%;
        float: left;
        margin-bottom: 5%;
    }
    .event_list li:nth-child(2n){
        margin-right: 0;
    }
    .event_list  figure img{
        margin-bottom: 3%;
        width:100%;
    }
    .event_list figcaption h3{
        text-align:center;
        word-break: break-all;
        font-size: 14px;
        margin-bottom: 5%;
        padding-top: 2px;
        font-family: 'Jeju Gothic', sans-serif;
		line-height:1.4;
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
    }
    .event_list figcaption span{
        font-size: 12px;
        display:block;
        margin-top: 3%;
        color: #4d4d4d;
		font-family: 'Nanum Gothic',sans-serif;
    }

/*시크릿 투어,비자,렌트 카 클릭시 배너 이미지*/
	.botbn_img{
		position: relative;
	}
	.botbn_img img{
		width: 100%;
	}
	.botbn_img figcaption{
		position: absolute;
		width: 90%;
		height: 42px;
		top: 0;
		bottom:0;
		margin:auto;
		left: 5%;
		right: 5%;
	}
	.botbn_img figcaption p{
		font-size: 11px;
		margin-bottom: 2%;
		text-align:left;
		line-height: 14px; 
		color: #fff;
		font-family: 'Jeju Gothic', sans-serif;
		text-shadow: 1px 1px 1px #000;
	}

/*시크릿 투어,비자,렌트 카 클릭시 카카오톡 영역*/
	.talk figure{
		margin:0 auto;
		text-align:center;
		display: inline-block;
		height: 45px;
	}
	.talk figure img{
		height: 45px;
		float: left;
		margin-right: 10px;
	}
	.talk figcaption{
		height: 45px;
		display: inline-block;
	}
	.talk figcaption h2{
		font-size: 20px;
		text-align:left;
		float: left;
		line-height: 16px;
		color: #25a4f4;
		font-family: 'Jeju Gothic', sans-serif; 
		padding:10px 0 0;
		box-sizing: border-box;
	}
	.talk figcaption h2 span{
		font-size: 12px;
		color: #000;
		display: block;
	}
	.talk p{
		height: 45px;
		padding:8px 0 0;
		box-sizing: border-box;
		font-size: 12px;
		line-height:18px;
		text-align:right;
		float: right;
		display: inline-block;
		color: #525252;
	}
/*시크릿 투어,비자,렌트 카 클릭시 글쓰기 영역*/
	.write_area input{
		width: 100%;
		outline: none;
		padding:5px;
		border:1px solid #ededed;
		box-sizing: border-box; 
		border-radius: 0;
	}
	.write_area div.form-group {
		margin:3% 0;
	}
	.write_area textarea{
		width: 100%;
		height: 150px;
		outline: none;
		padding:5px;
		border:1px solid #ededed;
		box-sizing: border-box;
		border-radius: 0;
		font-size:15px;
		line-height:1.4;
		font-family: 'Nanum Gothic', sans-serif;
		resize: none;
	}
	.write_area label{
		text-align: right !important;
	}
	.write_area .write_label{
		display: inline-block;
		margin-bottom: 5px;
		font-size: 15px;
		text-indent: 8px;
		font-family: 'Nanum Gothic', sans-serif;
		font-weight: bold;
	}
/*시크릿 투어,비자,렌트 카 클릭시 작성완료 버튼 영역*/
	.write_area button{
		width: 100%;
		height: 30px;
		border-radius: 3px;
		border: 0;
		outline: none;
		background: #25a4f4;
		font-family: 'Jeju Gothic', sans-serif;
		color: #fff;
	}

/*시크릿 투어,비자,렌트 카 클릭시 댓글 검색 영역*/
	.inquire{
		margin-bottom: 0;
	}
	.inquire .form-group{
		width: 100%;
		margin:3% 0; 
	}
	.inquire .form-group input{
		height: 27px;
		padding:5px;
		box-sizing: border-box;
		border-radius: 0;
		border:1px solid #ededed;
	}
	.inquire .form-group button{
		width: 27px;
		height: 27px;
		background: #25a4f4;
		color: #fff;
		border:0;
		outline: none;
		border-radius: 3px;
		padding:0;
		float: right;
	}

/*시크릿 투어,비자,렌트 카 클릭시 댓글리스트 영역*/
	.inquire ul li{
		border:1px solid #ededed;
		padding:3% 3% 2%;
		box-sizing: border-box;
		display: inline-block;
		width: 100%;
		position: relative;
		margin-bottom: 2%;
	}
	.inquire h3{
		width:72%;
		margin-right: 3%;
		/* height: 30px; */
		font-size:14px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2; /* 라인수 */
		-webkit-box-orient: vertical;
		word-wrap:break-word;
		line-height: 1.4;
		float: left;
		margin-bottom: 3%;
	}
	.inquire .question{
		 display: none;
	}
	.inquire li .clear p{
		float: right;
		padding-top: 4px;
		height: 20px;
		font-size: 12px;
	}
	.inquire li span{
		position: absolute;
		top: 13px;
		right: 4%;
		font-family: 'Jeju Gothic', sans-serif;
	}
	.inquire form li span.color{
		color: #25a4f4;
	}
	.inquire form li .clear{
		width: 100%;
		display: inline-block;
		position: relative;
		bottom:-5px;
	}
	.inquire .question div.question-content{
		display: inline-block;
		margin: 3% 0 5%;
		width: 100%;
		line-height:1.6;
		font-size:14px;
	}
	.inquire .question ul{
		width: 97.5%;
		margin:0 0 0 2.5%;
	}
	.inquire .question ul li{
		border:0;
		font-size: 14px;
		/*background:url(https://secretvt.com/assets/images/temp/write_img/reply_arrow.png) no-repeat top left;*/
		background-size: 6%;
		padding-top:2px;
		line-height: 1.6;
		margin-bottom: 3%;
		display: inline-block;
		width: 100%;
	}
	.inquire .question ul li p{
		margin-bottom: 10px;
	}
	.inquire .question ul li div.question-content{
		margin-bottom:1.5%;
		margin-top: 0;
	}
	.inquire .button{
		width: 45%;
		float: right;
	}
	.inquire .button button{
		width: 32%;
		text-align:center;
		border: none;
		border-radius: 3px;
		font-size: 11px; 
		padding: 2px 0 1.5px;
		float: left;
		font-weight: bold;
		outline: none;
		margin-right: 3%;
	}
	.inquire .button button:last-child{
		margin-right: 0%;
	}
	.inquire .question .button{
		width:33%;
	}
	.inquire .question .button button{
		width:48.5%;
	}
/*시크릿 투어,비자,렌트 카 클릭시 주의사항 영역*/
	.caution{
		margin-bottom: 20px;
	}
	.caution h2{
		margin-bottom: 3%;
		color: #25a4f4;
		font-family: 'Jeju Gothic', sans-serif;
		font-size: 14px;
	}
	.caution li{
		display: inline-block;
		width: 100%;
		font-size: 11px;
		line-height: 17px;
		margin-bottom: 2%;
		color: #5d5d5d;
	}
	.caution strong{
		float: left;
		height: 35px;
	}
	.caution p{
		width: 97%;
		display: inline-block;
		font-size: 12px;
		float: right;
		line-height: 1.6;
	}
/*업소후기의 컨텐츠 영역*/
	.contents-view .document{
		border:1px solid #ededed;
		padding:3% 5%;
		line-height: 18px;
	}
/* 로그인 화면 영역 */
	.enter{
		margin-bottom: 5%;
		text-align:center;
	}
	.enter img{
		width: 25%;
		margin-bottom: 3%;
	}
	.enter h2{
		margin-bottom:6%;
		font-size:18px; 
		color:#469ed7;
		font-family: 'Jeju Gothic', sans-serif;
	}
	.enter span{
		display: block;
		line-height: 18px;
		margin-top: 8px;
		font-size: 13px;
		color: #000;
	}
	.enter .id_pw{
		width: 230px;
		display: inline-block;
		margin:0 auto;
	}
	.enter .id_pw li{
		width: 100%;
		display: inline-block;
		margin-bottom:3%;
	}
	.enter .id_pw li h3{
		width: 60px;
		height: 25px;
		text-align: right;
		font-size: 14px;
		line-height: 26px;
		float: left;
		display: inline-block;
		font-family: 'Jeju Gothic', sans-serif;
	}
	.enter .id_pw li input{
		width: 160px;
		height: 25px;
		padding:3px 5px;
		border:1px solid #ededed;
		box-sizing: border-box;
		border-radius: 0;
		outline: none;
		float: right;
	}
	.enter .id_pw label.error{
		text-align: center;
		margin-top: 3%;
	}
	.enter .login_re{
		margin:3% auto 6%;
		height: 17px; 
	}
	.enter .login_re input[type="checkbox"]{
		vertical-align: middle;
	}
	.enter .login_re label{
		line-height: 14px;
	}
	.enter .alert-dismissible{
		width: 80%;
		margin:0 auto 6%;
		font-size: 11px;
		line-height: 17px;
	}
	.enter .login_btn input[type="submit"]{
		width: 65%;
		height: 30px;
		margin-bottom: 20px;
		border-radius: 2px;
		border:0;
		outline:none;
		background: #25a4f4;
		font-family: 'Jeju Gothic', sans-serif;
		color: #fff;
	}
	.enter .login_sign{
		width: 97%;
		margin:0 auto;
	}
	.enter .login_sign li{
		width: 50%;
		float: left;
		text-align: center;
		font-size: 13px;
		line-height: 1.4;
		border-right: 1px solid #ededed;
		padding:0 2%;
		box-sizing: border-box;
	}
	.enter .login_sign li> a > span{
		margin-top: 6%;
		display: block;
		font-family: 'Jeju Gothic', sans-serif;
		font-size: 15px;
	}
/*회원가입의 이용약관 영역 */
	.join_agree{
		margin-bottom: 10%;
	}
	.join_agree .join_txt{
		height: 200px;
		padding:3%;
		margin-bottom: 3%;
		border:1px solid #ededed;
		box-sizing: border-box;
		font-size: 12px;
		line-height: 18px;
		overflow: auto;
	}
	.join_agree .join_check{
		height: 17px;
	}
	.join_agree .join_check input{
		margin:2px 5px 2px 0;
		float: left;
	}
	.join_agree .join_check label{
		font-size: 12px;
		height: 17px;
		line-height: 14px;
	}
	.join_btn{
		width: 30%;
		height: 25px;
		outline: none;
		border-radius: 3px;
		border:0;
		background: #25a4f4;
		color: #fff;
		font-family: 'Jeju Gothic', sans-serif;
		float: right;
	}
/*회원가입 입력폼 영역*/
	.join_info table{
		margin-bottom: 3%;
		width:100%;
	}
	.join_info td{
		border:1px solid #ededed; 
		padding:2%;
		box-sizing: border-box;
	}

	.join_info td:first-child{
		width: 30%;
		background-color: #ecf4f9;
		font-family: 'Jeju Gothic', sans-serif;
		text-align: center;
		font-size: 13px;
		line-height: 18px;
	}

	.join_info td:last-child{
		vertical-align: middle;
	}

	.join_info td:first-child span{
		color:#c00e57;
	}

	.join_info td input{
		width: 100%;
		height: 25px;
		border:1px solid #ededed;
		box-sizing: border-box;
		border-radius: 0;
		outline: none;
	}

	.join_info td p{
		font-size: 11px;
		line-height: 15px;
		color: #565656;
		margin-top: 3%;
	}

	.join_info label.error{
		
		text-align: right;
		
		margin-top:3%;
		text-indent: 0;
	}

	label.error{
		font-size:11px;
		color: #eb2328;
	}

/*업소후기,자유게시판 리스트  영역*/
	.txt_list{
		width: 100%;
		display: inline-block;
		padding:12px 3%;
		margin-bottom: 3%;
		box-sizing: border-box;
		background-color:#fff;
		border:1px solid #ededed;
	}
	.txt_list:last-child{
		margin-bottom: 0;
	}
	.txt_list h2{
		max-width: 100%;
		padding-top: 2px;
		margin-bottom:10px;
		font-size: 16px;
		font-family: 'Jeju Gothic', sans-serif;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow:hidden;
	}

	.txt_list div{
		height: 1.1em;
		max-width:100%;
		box-sizing:border-box;
		margin-bottom: 12px;
		overflow:hidden; 
		padding-left: 2%;
		text-align: left;
		font-size: 13px;

		line-height: 1.1;
		text-overflow: ellipsis;
	}
	.txt_list div *{
		font-size: 13px;
		font-weight: normal;
		font-family: 'Nanum Gothic',sans-serif;
		padding: 0;
		margin: 0;
	}
	.txt_list div p{
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden; 
	}
	.txt_list div figure{
		display: none;
	} 
	.txt_list span{
		float: right;
		font-size: 12px;
		/* font-family: 'Jeju Gothic', sans-serif; */
		padding-top: 2px;
		color:#666;
		letter-spacing: -0.2px;
		word-spacing: 0.5px;
	}
	.txt_list span .fa {
		color: #999;
	}
	.txt_list span .fa-comment,
	.txt_list span .fa-comment-o{
		transform: rotateY(180deg);
	}
	/* 자유게시판 게시물에 사진 있을시 썸네일 추가 */
	.txt_list .thum_box {
		width: 67px;
		height: 67px;
		margin: 0 10px 0 0;	
		padding: 0;
	}
	/* 자유게시판 인기게시물 hot 표시 */
	.lab_hot {
		display: inline-block;
		float: none;
		font-size: 10px;
		line-height: 10px;
		background-color: #f00;
		padding: 3px 2px 2px;
		color: #fff;
		margin-right: 5px;
		vertical-align: top;
		border-radius: 3px;
	}

/*자유게시판 리스트 찾기 영역*/
	.find_list{
		margin-bottom: 3%;
	}
	.find_list input[type="text"]{
		height: 30px;
		padding:5px;
		box-sizing: border-box;
		border:1px solid #ededed;
	}
	.find_list button{
		width: 30px;
		height: 30px;
		color: #fff;
		background: #25a4f4;
		border:0;
		border-radius: 3px;
	}
/*광고 영역(공통)*/
	.ad{
		padding:0;
		background-color:#f4f4f4;
		font-size:0;
	}
	.ad a img{
		width:100%;
		border-top: 1px solid #ededed;
		border-bottom:1px solid #ededed;
		box-sizing: border-box;
		font-size: 12px;
	}

/*이메일주소로 계정찾기 영역*/
	.login_find figure{
		text-align: center;
	}
	.login_find img{
		width: 40%;
		margin-bottom:3%; 
	}
	.login_find figcaption{
		line-height: 1.6;
		margin-bottom: 6%;
		font-size: 14px;
	}
	.login_find .mail_find{
		width: 300px;
		margin:0 auto;
	}
	.login_find .mail_find input{
		width: 205px;
		height: 25px;
		padding:3px 5px;
		border:1px solid #ededed;
		box-sizing: border-box;
		border-radius: 0;
		outline: none;
		float: left;
	}
	.login_find .mail_find button{
		width: 90px;
		height: 25px;
		border:0;
		outline: none;
		border-radius: 5px;
		color: #fff;
		background-color: #25a4f4;
		font-family: 'Jeju Gothic', sans-serif;
		font-size: 12px;
		float: right;
		line-height: 26px;
	}
	.login_find .mail_error{
		font-size: 11px;
		text-align: center;
		color: #eb2328;
		margin-bottom: 3%;
	}
/*myinfo 의 정보 영역 */
	.myinfo{
		margin-bottom:20px;
	}
	.info_area img{
		height: 70px;
		margin-right: 2%;
		float: left;
	}
	.info_area figcaption{
		position: relative;
		padding: 14px 66px 0 3%;
	}

	.info_area figcaption h2{
		font-size: 24px;
		font-family: 'Jeju Gothic', sans-serif;
		margin-bottom: 10px;
	}
	.info_area figcaption p{
		font-size: 12px;
	}
	.info_area figcaption strong{
		font-size: 14px;
		color: #25a4f4;
		font-family: 'Jeju Gothic', sans-serif;
	}
	.info_area .btn{
		position: absolute;
		top: 20px;
		right: 0;
		margin-bottom: 0;
		font-size: 14px;
		padding: 5px 10px 4px;
		font-family: 'Jeju Gothic',sans-serif;
	}
	.info_level{
		width: 80px;
		height: 25px;
		margin-top: 5px;
		font-size: 12px;
		line-height: 28px;
		display: inline-block;
		font-family: 'Jeju Gothic', sans-serif;
	}
	.info_level img{
		width: 25px;
		float: left;
	}
	.myinfo button{
		float: right;
		width: 110px;
		height: 22px;
		letter-spacing: 1px;
		color:#fff;
		border:0;
		outline: none;
		background-color: #232121;
		border-radius: 5px;
		font-family: 'Jeju Gothic', sans-serif;
		font-size: 11px;
		margin-top: 10px;
	}
/*myinfo 의 내정보,작성글,정보수정,탈퇴하기 영역*/
	.info_table{
		margin-bottom:24px;
	}
	.info_table table{
		width: 100%;
	}
	.info_table td{
		position: relative;
		width: 25%;
		/*padding:3.5% 0 2.5%;*/
		text-align: center;
		border: 1px solid #ddd;
		font-size: 14px; 
		font-family: 'Jeju Gothic', sans-serif;
	}
	.info_table td.active{
		background-color: #ecf4f9;
	}
	.info_table .lab_notification{
		top: 2px;
		right: 10px;
	}
	.info_table a{
		position: relative;
		display: inline-block;
		min-width: 75%;
	}
/*myinfo 의 내정보 영역*/
	.mypage .table_01{
		margin-bottom:26px;
	}
	.table_01 li{
		border-bottom:1px solid #ededed;
		padding: 8px 3%;
		box-sizing: border-box;
		font-size: 14px;
	}
	.table_01 strong{
		font-family: 'Jeju Gothic', sans-serif;
	}
	.table_01 p{
		float: right;
	}
	.mypage .btn{
		font-size: 14px;
		/*padding:5px 10px 4px;
		margin-right:3px;*/
		font-family:'Jeju Gothic',sans-serif;
		/*margin-bottom: 20px;*/
	}
	.mypage .btn:last-child{
		margin-right:0;
	}
/*myinfo 의 작성글 영역*/
	.table_02 table{
		width: 100%;
		border-top:2px solid #4d4d4d;
	}
	.table_02 td,
	.table_02 th{
		border-bottom:1px solid #ededed;
		text-align: center;
		vertical-align: middle;
	}
	.table_02 th{
		padding:9px 0 7px;
		font-family: 'Jeju Gothic', sans-serif;
		font-size: 14px;
	}
	.table_02 td{
		font-family: 'Nanum Gothic', sans-serif;
		font-size: 13px;
		padding:1.5% 0 2%;
		line-height: 1.4;
	}
	.table_02 [class^="btn-"] {
		padding: 3px 8px;
		border: none;
		border-radius: 3px;
	}
/*myinfo 의 정보수정,탈퇴하기(비밀번호입력),정보수정완료 영역*/
	.info_logout{
		text-align: center;
	}
	.info_logout figure{
		text-align: center;
		margin-bottom: 8%;
	}
	.info_logout figure img{
		width: 35%;
		margin-bottom: 3%;
	}
	.info_logout figcaption h2{
		font-family: 'Jeju Gothic', sans-serif;
		color: #25a4f4;
		font-size: 15px;
		margin-bottom: 3%;
		line-height: 1.4;
	}
	.info_logout figcaption b{
		font-family: 'Jeju Gothic', sans-serif;
		font-size: 15px;
	}
	.info_logout figcaption,
	.info_logout figcaption p{
		line-height: 18px;
	}
	.info_logout button{
		width: 40%;
		height: 30px;
		background-color: #25a4f4;
		border: 0;
		border:0;
		border-radius: 3px;
		color: #fff;
		font-family: 'Jeju Gothic', sans-serif;
		font-size: 12px;
		box-sizing: border-box;
		line-height: 25px;
	}
	.info_logout button a{
		color: #fff;
		height: 28px;
		line-height: 28px;
		padding: 0!important;
		border: none;
	}
	.logout_pw{
		text-align: center;
		display: inline-block;
	}
	.logout_pw .logout_alert{
		color: #eb2328;
		text-align: center;
		margin-bottom: 3%;
		font-size: 11px;
		display: inline-block;
		width: 100%;
	}
	.logout_pw label{
		width: 60px;
		height: 30px;
		line-height: 30px;
		float: left;
		display: inline-block;
		font-family: 'Jeju Gothic', sans-serif;
	}
	.logout_pw input{
		width: 170px;
		height: 30px;
		padding:3px 5px;
		border:1px solid #ededed;
		box-sizing: border-box;
		border-radius: 0;
		outline: none;
		float: left;
		margin-right: 5px;
	}
	.logout_pw button{
		width: 60px;
	}

/*myinfo 의 회원정보수정 의 li 영역*/
	.info_modify ol{
		margin-bottom: 6%;
		border:1px solid #ededed;
		box-sizing: border-box;
	}
	.info_modify ol li{
		width: 100%;
		display: inline-block;
		text-align: center;
		border-bottom:1px solid #ededed;
		text-align: center;
	}
	.info_modify ol li:last-child{
		border-bottom:0;
	}
	.info_modify ol li span{
		display: inline-block;
		width: 20%;
		font-family: 'Jeju Gothic', sans-serif;
		font-size: 14px;
		float: left;
		padding:2.5% 0;
	}
	.info_modify ol li div{
		float: right;
		width: 80%;
		font-family: 'Jeju Gothic', sans-serif;
		box-sizing: border-box;
		padding:2.5% 2%;
		border-left: 1px solid #ededed;
		text-align: left;
	}
	.info_modify ol li div a{
		font-family: 'Jeju Gothic', sans-serif;
		font-size: 13px;
		color: #c21e5a;
	}
	.info_modify ol li div p{
		font-size: 11px;
		color: #9d9d9d;
		display: inline-block;
		margin-top: 6px;
		font-family: 'Nanum Gothic', sans-serif;
	}
	.info_modify button{
		float: right;
		width: 30%;
		height: 30px;
		outline: none;
		border-radius: 3px;
		border:0;
		background-color: #25a4f4;
		color:#fff;
		font-family:'Jeju Gothic', sans-serif;
	}
	.info_modify .checkbox{
		padding: 0;
		border: none;
		width: 100%;
	}
	.info_modify .checkbox input[type="checkbox"]{
		vertical-align: middle;
	}
/*myinfo 의 정보수정의 패스워드 수정 클릭시 영역*/
	.modify_pw .pw_alert{
		text-align: center;
		color: #eb2328;
		margin-bottom: 3%;
		display: inline-block;
		width: 100%;
		font-size:11px;
	}
	.modify_pw form{
		width: 300px;
		margin:0 auto;
	}
	.modify_pw ol li{
		width: 100%;
		display: inline-block;
		margin-bottom: 3%;
	}
	.modify_pw ol li h3{
		width: 100px;
		height: 25px;
		font-size:14px;
		line-height: 26px;
		text-align: right;
		float: left;
		display: inline-block;
		font-family: 'Jeju Gothic', sans-serif;
	}
	.modify_pw ol li strong{
		width: 180px;
		height: 25px;
		font-family: 'Jeju Gothic', sans-serif;
		float: right;
		line-height: 25px;
		text-align: center;
	}
	.modify_pw ol li input{
		border:1px solid #ededed;
		width: 180px;
		height: 25px;
		padding:3px 5px;
		box-sizing: border-box;
		border-radius: 0;
		outline: none;
		float: right;
	}
	.modify_pw button{
		float: right;
		margin-top: 3%;
		height: 25px;
		outline: none;
		background-color: #25a4f4;
		border:0;
		border-radius: 3px;
		color: #fff;
		font-family: 'Jeju Gothic', sans-serif;
		font-size: 12px;
		box-sizing: border-box;
		line-height: 25px;
	}
	.modify_pw label.error{
		text-align: center;
		margin-top: 3%;
	}
/* 마이페이지 스크랩 */
	.scrap_list>h3{
		font-size:12px;
		margin-bottom: 3%;
		font-family: 'Nanum Gothic',sans-serif;
	}
	.scrap_list>h3 small{
		font-size: 14px;
		font-weight: 500;
		padding-left: 3px;
		font-weight: bold;
		color:#25a4f4;
	}
	.scrap_list .gallery-box{
		position: relative;
		padding:0;
	}
	.scrap_list .gallery-box .scrap_img{
		width: 90px;
		height: 90px;
		overflow:hidden;
	}
	.scrap_list .gallery-box img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		display:block;
		border-bottom: none;
	}
	.scrap_list .gallery-box h2{
		margin-left:0;
		margin-top: 14px;
		font-size: 16px;
	}
	.scrap_list .gallery-box .sub_subject{
		font-size: 14px;
	}
	.scrap_list .gallery-box .scrap_heart{
		display: block;
		padding: 7px;
		position: absolute;
		top:50%;
		right:0;
		margin-top:-18px;
	}
/*업소후기,글쓰기 클릭시 후기갯수 표시 영역*/
	.title03 p{
		font-size: 12px;
		display: inline-block;
		float: right;
		font-family: 'Jeju Gothic', sans-serif;
		line-height:24px
	}
	.title03 p span{
		font-size: 14px;
		color:#25a4f4;
	}

/*업소후기,글쓰기 클릭시 후기 작성하기 버튼 영역*/
	.title03 h3{
		display: inline-block;
		float: left;
		height: 16px;
		background-color: #25a4f4;
		color: #fff;
		line-height: 15px;
		border-radius: 3px;
		padding:5px 0;
		width: 25%;
		text-align: center; 
	}
	.title03 h3 a{
		font-family: 'Jeju Gothic', sans-serif;
		color: #fff;
		font-size: 13px;
	}

/*업소후기,글쓰기 작성영역의 작성자 정보 영역*/
	.write_info figure{
		height: 52px;
		background-color: #ecf4f9;
		padding:3px 20px;
		box-sizing: border-box;
		border-radius:5px;
	}
	.write_info figure img{
		height: 47px;
	}
	.write_info figcaption{
		font-family: 'Jeju Gothic', sans-serif;
		float: right;
		padding:7px 0;
		height: 35px;
	}
	.write_info figcaption h2{
		font-size: 18px;
		margin-bottom: 3px;
	}
	.write_info figcaption span{
		font-size: 11px;
	}
/*업소후기,글쓰기 작성영역의 제목 영역*/
	.write_title label.label_title{
		width: 60px;
		height: 25px;
		line-height: 26px;
		background-color: #25a4f4;
		display: inline-block;
		color: #fff;
		text-align:center;
		font-family: 'Jeju Gothic', sans-serif;
		float: left;
	}
	.write_title input.text_title{
		height: 25px;
		padding:3px 5px;
		box-sizing: border-box;
		font-size:15px;
		border-radius: 0;
		outline: none;
		border:1px solid #ededed;
	}
/*업소후기,글쓰기 작성영역의 글쓰기 영역*/
	.write_cont textarea{
		width: 100%;
		height: 300px;
		padding:10px;
		overflow: auto;
		box-sizing: border-box;
		outline: none;
		resize: none;
		border-radius: 0;
		font-size:15px;
		line-height:1.6;
		border:1px solid #ededed;
	}
/*업소후기,글쓰기 작성영역의 업로드,링크 영역*/
	.write_upload label{
		width: 70px;
		height: 28px;
		margin-right: 10px;
		line-height: 29px;
		font-size: 14px;
		border-radius: 3px;
		background-color: #25a4f4;
		display: inline-block;
		color: #fff;
		text-align:center;
		font-family: 'Jeju Gothic', sans-serif;
		float: left;
	}
	.write_upload input{
		width: calc(100% - 80px);
		height: 28px;
		padding: 3px 5px;
		border:1px solid #ededed;
		box-sizing: border-box;
		border-radius: 0;
		outline: none;
		background-color: #fff;
		float: right;
	}

/*업소후기,글쓰기 작성영역의 작성완료 취소 영역*/
	.write_clear{
		text-align: justify;
		font-size: 0;
	}
	.write_clear:after{
		content: '';
		display: inline-block;
		width: 100%;
	}
	.write_clear button{
		width: 48.5%;
		height: 36px;
		line-height: 35px;
		font-size: 15px;
		border-radius: 3px;
		display: inline-block;
		color: #fff;
		text-align: center;
		font-family: 'Jeju Gothic', sans-serif;
		border: 0;
	}
	.write_clear button[type="submit"]{
		background-color: #25a4f4;
	}
	.write_clear button.btn-history-back{
		background-color: #b7c2c8;
	}
	.write_clear button:first-child{
		margin-right: 5px;
	}

/*업소후기,글쓰기 의 수정시 업로드 삭제&파일명 영역*/
	.write_del{
		padding:0 6%;
	}
	.write_del a{
		float: left;
	}
	.write_del label{
		float: right;
	}
	.write_del input{
		margin: 2px 0px 2px 5px;
		float: right;
	}

/*자유게시판의 댓글 작성 영역*/
	.reply_write h2{
		font-family: 'Jeju Gothic', sans-serif;
		margin-bottom: 1.5%;
	}
	.reply_write .reply_num{
		font-size: 16px;
		text-indent: 5px;
		margin-bottom: 2%;
	}
	.reply_write .reply_num .num{
		font-size: 1.12em;
		color: #25a4f4;
	}
	.reply_write textarea{
		width: 100%;
		height: 50px;
		padding:5px;
		margin-bottom: 3%;
		border: 1px solid #e8e8e8;
		box-sizing: border-box;
		overflow: auto;
		resize: none;
		outline: none;
		font-family: 'Nanum Gothic',sans-serif;
		font-size: 14px;
	}
	.reply_write button{
		font-family: 'Jeju Gothic',sans-serif;
	}
	.reply_write .media{
		background-color: #fff;
	}
	.reply_write .media .nick{
		margin-top: 4px;
		margin-bottom: 10px;
		font-size: 14px;
		font-weight: bold;
		position: relative;
	}
	.reply_write .media .btn_nick{
		color: #000;
		font-family: 'Nanum Gothic',sans-serif;
		font-size: 14px;
		font-weight: bold;
		text-decoration: none;
	}
	.reply_write .media .btn_nick img{
		vertical-align: bottom;
	}
	.reply_write .media .nick .btn_box {
		margin-top: -4px;
	}
	.reply_write .media .click_nick{
		top: 22px;
		left: 5px;
	}
	.reply_write .media .nick .fa[class*="lock"]{
		margin-right: 3px;
		font-size: 0.9em;
		color: #414141;
	}
	.reply_write .fa-reply{
		color: #a2afb6;
	}
	.reply_write .media .comment-content{
		margin-bottom: 4px;
	}
	.reply_write .media .date{
		font-size: 12px;
		line-height: 22px;
		color: #999;
	}
	.reply_write input[type="checkbox"]{
		vertical-align: middle;
	}
/*자유게시판의 댓글 리스트 영역*/
	.reply_msg{
		margin-bottom: 3%;
	}
	.reply_list{
		width: 100%;
		border-bottom:1px solid #ededed;
		margin-bottom:6%;
		display: inline-block;
	}
	.reply_list img{
		width: 15px;
		float: left;
	}

	.reply_list .reply_cont{
		margin-bottom: 3%;
		line-height:20px;
	}
	.reply_list .reply_info{
		font-size: 11px;
		text-align: right;
	}
	.reply_list .reply_edit{
		float: right;
		margin-left: 1.5%;
	}
	.media-body .reply a{
		display: inline-block;
		margin-right: 4px;
	}
	.media-body .reply a:last-child{
		margin-right: 0;
	}
/*전체목록 영역*/
	.cont_tab a{
		font-family: 'Jeju Gothic', sans-serif;
		font-size: 12px;
	}

/*이용약관,개인정보,위치정보 내용 영역*/
	.agree{
		padding:3%;
		box-sizing: border-box;
		line-height: 1.4;
		font-size: 12px;
		border: 1px solid #ededed;
	}
	.login_sns{
		margin-bottom: 10%;
		overflow:hidden;
	}
	.login_sns .login_sns_ul{
		text-align:center;
	}
	.login_sns .btn_sns{
		display:inline-block;
		box-sizing:border-box;
		/*width: 12%;*/
		margin-right: 3%;
		padding:3px;
		border-radius: 3px;
		font-family:'Jeju Gothic',sans-serif;
		overflow:hidden;
	}
	.login_sns .btn_sns:last-child{
		margin-right:0;
	}
	.login_sns .btn_login_kakao{
		background-color:#fbe03b;
		color:#3a1e1f;
		
	}
	.login_sns .btn_login_naver{
		background-color:#2ec531;
		color: #fff;
	}
	.login_sns .btn_login_google{
		background-color:#da4a3e;
		color: #fff;
	}
	.login_sns .btn_sns img{
		display:block;
		width:100%;
		margin-bottom:0;
	}
	.login_sns .btn_sns figcaption{
		width:1px;
		height:1px;
		position:absolute;
		overflow:hidden;
		clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
		clip: rect(1px, 1px, 1px, 1px);
	}